    body {
        background-color: rgb(0, 0, 0);
    }
    
    .navbar.navbar-expand-lg.bg-danger {
        background-color: rgb(75, 4, 4) !important;
    }
    
    header h5 {
        text-align: center;
        color: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    
    .social-media-icon {
        display: inline-block;
        margin-left: 5px;
        margin-top: 25px;
        width: 40px;
        height: 40px;
        border: 1px solid rgb(255, 254, 254);
        border-radius: 50%;
        text-align: center;
        color: #fff;
    }
    
    .social-media-icon i {
        font-size: 30px;
        line-height: 40px;
        justify-content: flex-end;
    }
    
    .social-media button {
        margin-top: 20px;
    }
    
    .social-media {
        justify-content: flex-end !important;
    }
    
    button {
        justify-content: flex-end !important;
    }